#footerContainer {
    background-color: #343a40; /* Cinza escuro */
    color: #ffffff; /* Texto branco */
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

#footerContainer p {
    margin: 0;
    cursor: pointer;
}

#footerContainer p:hover {
    text-decoration: underline; /* Enfatiza o hover */
}