#rightContentWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

#carouselContainer {
  
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

#carouselContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#carouselContainer img.active {
  opacity: 1;
}

/* Container dos produtos */
#productContainer {
 
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    overflow-y: auto;
    height: 60%;
}

/* Lista de produtos */
#productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.productBox {
  background: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Ajustes para mudanças de emoção */
.negativeStyle {
  background-color: #FFCDD2;
  border-radius: 10px;
}

.negativeStyle .productBox {
  background-color: #FFEBEE;
  box-shadow: 0 4px 8px rgba(244, 67, 54, 0.3);
}